In [84]:
# connect to sas,please refer to :https://support.sas.com/ondemand/saspy.html
import saspy
from IPython.core.display import HTML
import pandas as pd
sas_session = saspy.SASsession()

Using SAS Config named: oda
SAS Connection established. Subprocess id is 32645

In [85]:
# Check my Lib
print(sas_session.assigned_librefs())

['WORK', 'SASDATA', 'STPSAMP', 'SASHELP', 'MAPS', 'MAPSSAS', 'MAPSGFK', 'SASUSER']

In [96]:
# read sas dataset by dat step
sub2 = sas_session.submit('''
proc print;
    libname xiliang "/home/u62039140";
    data CARS1;
    set xiliang.CARS1-xiliang.CARS3;
run;
''')
df4 = pd.read_html(sub2['LST'])[0]
df4.shape

(1284, 16)

In [71]:
# Access SAS Datasets by data step
options = {'where'    : 'Cylinders>1',
           'keep'     : 'Make'
}
df = sas_session.sasdata(table='CARS1', libref='xiliang',results='Pandas', dsopts=options)#

# to pandas
# df2 = f.to_df()
df.head()

/Users/wxl/anaconda3/lib/python3.7/site-packages/saspy/sasioiom.py:1018: UserWarning: Noticed 'ERROR:' in LOG, you ought to take a look and see if there was a problem
  warnings.warn("Noticed 'ERROR:' in LOG, you ought to take a look and see if there was a problem")

ValueError: Internal code execution failed: ERROR: Variable Cylinders is not on file XILIANG.CARS1.

In [80]:
# read sas dataset by sql
sub1 = sas_session.submit('''
libname xiliang "/home/u62039140";
PROC SQL;
SELECT
*
FROM xiliang.CARS1;
QUIT;
''',results='TEXT')
df4 = pd.read_html(sub2['LST'])[0]
df4.head()

,Obs,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,1,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6,265,17,23,4451,106,189
1,2,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4,200,24,31,2778,101,172
2,3,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4,200,22,29,3230,105,183
3,4,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6,270,20,28,3575,108,186
4,5,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6,225,18,24,3880,115,197